.input-container {
    position: relative;
    display: inline-block;
    margin: 1.8rem 0;
}

input.startup-input {
    position: relative;
    padding: 0.5em 0.5em;
    width: clamp(300px, 45vw, 650px);
    font-size: 1.3rem;
    border-radius: 100px;
    border: var(--input-border-size) solid var(--clr-grey);
    background-color: var(--clr-grey-light);
}

button.startup-confirm {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    aspect-ratio: 1.5 / 1;
    height: calc(100%);
    background-color: var(--clr-primary);
    border: none;
    color: white;

    background-image: url(../../assets/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
    transition: 0.2s;
}

button.startup-confirm:hover {
    background-color: var(--clr-primary-light);
    background-position: 70% center;
    transition: 0.3s;
}