:root {
    --input-border-size: 2.5px;
}

.startup-page {
    padding-bottom: 500px;
}

.startup-page-intro {
    margin-bottom: 7rem;
}

.startup-intro-text {
    width: 100%;
}

.h-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startup-page-intro h1 {
    font-size: 3rem;
}

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(400px, 55vw, 800px);
    margin-top: 5rem;
    margin-bottom: -7rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 10;
}

.input-box label {
    margin-top: 1em;
    font-size: 1.1rem;
    color: black;
}

.border-bottom {
    width: 100%;
    height: 1.2rem;
    background-color: var(--clr-primary);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.invalid-username {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.monster-container {
    position: absolute;
    right: 50%;
    top: 50%;
    width: 400px;
    aspect-ratio: 0.78 / 1;
    animation: hover-animation 2s infinite alternate ease-in-out;
}

.green-monster {
    position: absolute;
    right: 0;
    top: -100px;
    width: 500px;
    aspect-ratio: 0.78 / 1;
    background-image: url(../../../assets/green-monster.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: monster-animation 11s forwards;
}

.hide {
    display: none;
}

@keyframes monster-animation {
    0% {
        width: 10px;
        transform: rotate(0deg) translate(500px, -300px);
    }

    25% {
        width: 400px;
        transform: rotate(360deg) translate(250px, 100px);

    }

    38% {
        transform: rotate(0deg) translate(-500px, 100px);
    }

    65% {
        transform: rotate(180deg) translate(-600px, 400px);
    }

    85% {
        transform: rotate(180deg) translate(-600px, 400px);
    }

    93% {
        transform: rotate(360deg) translate(0, -200px);
    }

    100% {
        transform: rotate(360deg) translate(0, 0px);
    }
}

@keyframes hover-animation {
    0% {
        transform: translate(60%, -60%);
    }

    100% {
        transform: translate(60%, -25%);
    }
}